h2{
	margin: 20px 0;
}

button a,
button a:hover{
	color: #ffffff;
}

.home .card-body form .form-group{
	width: 31%;
	float: left;
	margin-right: 1%;
}

#timer{
	width: 100%;
	text-align: center;
	font-size: 25px;

}

small{
	color: red;
	font-weight: bold;
}